/* Define CSS Variables */
:root {
    --font-family: "Inter", sans-serif;
    --primary-color: rgb(0, 0, 0);
    --secondary-color: rgb(255, 255, 255);
    --background-color: #1a1919;
    --highlight-color: #d5af7f;
    --text-color: #333333;
    --light-text-color: #666666;
    --border-color: #999696;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --scrollbar-track-color: #cfcfcf;
    --scrollbar-thumb-color: #616164;
    --scrollbar-thumb-hover-color: #3b3b4f;
}

/* General Styling Start */

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

section {
    padding: 40px;
    padding-bottom: 56px;
    min-height: 100vh;
}

h3.title {
    font-weight: 800;
    font-size: 2.2em;
    text-align: center;
    margin-bottom: 30px;
}

/* General Styling End */

/* Header Styling Start */

nav {
    background-color: var(--primary-color);
    height: 75px;
    opacity: 0.88;
    width: 100%;
    padding: 0 10%;

    .logo {
        color: var(--secondary-color);
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.7em;
        letter-spacing: 2px;
        line-height: 75px;
    }

    .logo span,
    .navbar ul li a:hover,
    span.link a,
    .main h3 span {
        color: var(--highlight-color);
        text-decoration: none;
        letter-spacing: 2px;
        transition: 0.5s;
    }

    .navbar ul li a.active {
        color: var(--secondary-color);
    }

    ul {
        float: right;
        margin-right: 20px;

        li {
            display: inline-block;
            line-height: 75px;

            a {
                color: var(--secondary-color);
                text-decoration: none;
                font-size: 1.1em;
                font-weight: 500;
                padding-left: 30px;
                transition: 0.3s;
            }
        }
    }
}

.checkbtn {
    font-size: 1.5em;
    float: right;
    color: var(--secondary-color);
    border-radius: 6px;
    padding: 0 7px;
    margin-right: 10px;
    line-height: 75px;
    display: none;
}

#check {
    display: none;
}

/* Header Styling End*/

/* Main Section Styling Start*/

/* Left Content Styling Start  */
.main {
    width: 100%;
    background: linear-gradient(159.13deg, #575757 51.38%, var(--background-color) 125.8%);
    background-attachment: fixed;
    padding-left: 10%;
    padding-right: 10%;
    height: 70%;

    h2 {
        color: antiquewhite;
        font-size: 1.13em;
        font-weight: 500;

        span {
            color: var(--secondary-color);
            font-size: 3em;
            font-weight: 700;
            display: inline-block;
            margin-top: 10px;
            text-shadow: 1.5px 1.5px 1.5px var(--highlight-color);
        }
    }

    h3 {
        color: antiquewhite;
        margin-top: 10px;
        margin-bottom: 40px;
        font-size: 1.2em;
    }
}


.main-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 12px;
}

.left-content {
    margin-top: 100px;

    h3 {
        max-width: 540px;
        font-weight: 300;
        font-size: 1.13rem;
    }
}


.download-btn {
    color: var(--primary-color);
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 8px 10px;
    border: none;
    background-color: var(--highlight-color);
    transition: 0.7s ease-out;

    &:hover {
        transform: scale(1.1);
    }
}


.icon a {
    color: var(--secondary-color);
    font-size: 1.3em;
    display: inline-block;
    padding-right: 15px;
    padding-top: 10px;
    transition: 0.3s;
}

.icon a:hover,
.email-icon:hover {
    color: var(--highlight-color);
}

.right-image {
    width: 30rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    img {
        max-width: 100%;
        max-height: 100%;
        scale: 1.23;
        filter: none;
        opacity: 1;
    }
}


/* Add this animation for moving elements to the right */
@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.main-container,
.logo,
.navbar,
.moon-icon {
    animation: slideInRight 1s forwards;
}

.right-image {
    animation: slideInRight 2s forwards;
}

/* Left Content Styling End */

/* Main Section Styling End*/

/* About Section Styling Start*/
.about {
    width: 100%;
    background-color: var(--secondary-color);
    min-height: 55vh;
    margin-top: 20px;

    .aboutSection {
        justify-content: space-between;
        padding: 10px;

        .halfRow {
            background-color: var(--secondary-color);
            border: none;
            padding: 5px;

            .title {
                margin-bottom: 20px;
                color: var(--text-color);
                text-align: left;
                font-size: 1.9em;
            }

            .bg-gray {
                background-color: var(--secondary-color);
                border-radius: 10px;
                padding: 10px;

                .item {
                    border-left: 1px solid var(--primary-color);

                    .circle-dot {
                        width: 10px;
                        height: 10px;
                        background-color: var(--primary-color);
                        border-radius: 50%;
                        display: inline-block;
                        margin-left: -5px;
                    }

                    .item-data {
                        font-size: 1.2em;
                        font-weight: bold;
                        margin-bottom: 5px;
                        display: inline-block;
                        color: var(--text-color);
                        margin-left: 10px;
                    }

                    .item-text {
                        font-size: 0.95em;
                        color: var(--light-text-color);
                        line-height: 1.6;
                        margin-left: 20px;
                    }
                }
            }
        }
    }

    .about-title {
        text-align: center;
        margin-bottom: 20px;
    }

    .underline-effect {
        position: relative;
        display: inline-block;

        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 3px;
            background-color: var(--highlight-color);
            left: 0;
            bottom: -5px;
            transition: width 0.5s ease;
        }
    }

    .underline-active::after {
        width: 100%;
    }
}

.aboutSection {
    display: flex;
    flex-direction: row;
}

.halfRow {
    width: 48%;
}

/* Responsive adjustments */
@media screen and (max-width: 700px) {
    .aboutSection {
        flex-direction: column;
    }

    .aboutSection .halfRow {
        width: 100%;
        margin-bottom: 20px;
    }
}

/* About Section Styling End*/

/* Competitions Section Styling Start*/
.Competitions {
    width: 100%;
    background: var(--secondary-color);

    .CompetitionsSection {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;

        .FullRow {
            width: 100%;
            background-color: #eeeeee;
            border-radius: 10px;
            box-shadow: 2px 2px 20px 3px rgb(145, 145, 145);
            padding: 20px;

            .title {
                margin-bottom: 20px;
                color: var(--text-color);
            }

            .bg-gray {
                background-color: var(--secondary-color);
                border-radius: 10px;
                padding: 20px;
                height: 85%;
            }

            .item {
                margin-bottom: 20px;
            }

            ul {
                list-style-type: none;
                padding: 0;

                li {
                    list-style-type: none;
                    position: relative;
                    padding-left: 20px;
                    margin-bottom: 10px;

                    &::before {
                        content: '';
                        width: 10px;
                        height: 10px;
                        background-color: var(--highlight-color);
                        border-radius: 50%;
                        position: absolute;
                        left: 0;
                        top: 0.3em;
                    }
                }
            }
        }
    }
}


/* Responsive adjustments */
@media screen and (max-width: 700px) {
    .CompetitionsSection {
        flex-direction: column;
    }

    .FullRow {
        width: 100%;
        margin-bottom: 20px;
    }
}

/* Competitions Section Styling End*/

/* projects Section Styling Start*/

.carousel-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.projects {
    display: flex;
    transition: transform 0.5s ease-in-out;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#projects {
    background: var(--secondary-color);
}

#projects .container {
    position: relative;
}

.project {
    border-radius: 1rem;
    position: relative;
    flex-shrink: 0;
    width: 35%;
    height: 390px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px var(--shadow-color);
}

.project-image img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow: 0 0.5px 0 rgba(144, 148, 156, 1);
}

.carousel-controls {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.arrows-container {
    display: flex;
    flex-direction: row;
    gap: 0.35em;
    cursor: pointer;
    position: relative;
}

.arrow-left,
.arrow-right {
    width: 0;
    height: 0;
    border: 1.2rem solid transparent;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

.arrow-left {
    border-right: 1.4rem solid rgba(0, 0, 0, 0.95);
}

.arrow-right {
    border-left: 1.4rem solid rgba(3, 3, 3, 0.95);
}


.arrows-container:hover .arrow-left,
.arrows-container:hover .arrow-right {
    transform: scale(1.1);
}

.arrows-container:active .arrow-left,
.arrows-container:active .arrow-right {
    transform: scale(0.9);
}

.arrow-left:hover,
.arrow-right:hover {
    animation: arrowBounce 1s forwards;
}

@keyframes arrowBounce {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(-5px);
    }
}



.project-description {
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
    margin-top: 0px;
}


.project-description p {
    max-width: 100%;
    margin-block-end: 1rem;
}


.project-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.project-description a {
    text-decoration: none;
    color: #90949c;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 1rem;
    box-sizing: border-box;
    display: block;
    width: fit-content;
    font-size: 1.2rem;
}

#projects .container .title {
    margin-bottom: 20px;
    color: var(--text-color);
}

/* projects Section Styling End*/

/* Contact Section Styling Start  */

.contact {
    width: 100%;
    background-color: var(--secondary-color);
    background-attachment: fixed;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 0;
    box-sizing: border-box;
    min-height: 100vh;
}


.contact-title {
    margin-bottom: 20px;
    color: var(--text-color);
}

.contact-box {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--secondary-color);
    box-shadow: 0px 4px 8px var(--shadow-color);
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
}

.field {
    width: 85%;
    border: none;
    outline: none;
    background-color: #f5f5f6;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    border-radius: 10px;

    &:hover {
        border: 1px solid var(--border-color);
    }

    &:focus {
        border: 1.5px solid var(--highlight-color);
    }
}

textarea {
    min-height: 180px;
    resize: none;
}

input[type="submit"] {
    width: 40%;
    height: 2.5em;
    background-color: var(--highlight-color);
    min-width: 120px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn {
    width: 100%;
    color: var(--primary-color);
    font-size: 1.2rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
    font-weight: 700;

    &:hover {
        transform: scale(1.1);
    }
}

/* Contact Section Styling End  */

/* Footer Section Styling Start  */

footer {
    padding: 1em;
    background-color: rgb(42, 41, 41);

    p {
        text-align: center;
        font-size: 1em;
        color: var(--secondary-color);
    }

    .footer-icons {
        text-align: center;
        margin: 10px 0 0 0;

        a {
            font-size: 1.3em;
            color: var(--highlight-color);
            padding-left: 10px;

            i {
                &:hover {
                    color: #eae2e2;
                }
            }
        }
    }
}

/* Footer Section Styling End  */

/* Prizes Styling Start */
#Prizes {
    background-color: var(--secondary-color);
}

.Prizes-title {
    margin-bottom: 20px;
    color: var(--text-color);
}

.Prizes-content {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.Prizes-card {
    width: 20em;
    overflow: hidden;
    min-height: 14em;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 8px var(--shadow-color);
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.Prizes-card:hover {
    transform: scale(1.1);
}

.Prizes-image img {
    width: 100%;
    max-height: 11.25em;
}

.Prizes-info {
    padding: 1em;
    padding-top: 3em;

}

.Prizes-info h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
    color: var(--text-color);
}

.Prizes-info h4 {
    font-size: 0.95em;
    color: var(--light-text-color);
    line-height: 1.6;
}

.run-code {
    display: inline-flex;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.run-code a {
    text-decoration: none;
    color: rgb(255, 23, 104);
}

.run-code a:hover {
    color: rgba(107, 9, 198, 0.958);
}

/* Prizes Section Styling End  */


/********** Scrollbar styling *************/
::-webkit-scrollbar {
    width: 10.5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
    border-radius: 0.75rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: 0.75rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-color);
}

/********** Scrollbar styling *************/


@media only screen and (max-width: 767px) {

    h3.title {
        font-size: 2.1em;
    }

    section {
        padding: 4rem;
    }

    /* Main Section Start */

    .main-container {
        flex-direction: column;
    }

    .right-image {
        width: 20rem;
        height: 20rem;
    }

    .main h2 span {
        font-size: 2.3em;
    }

    .remove {
        display: none;
    }

    .download-btn {
        font-size: 1.1em;
    }

    .icon a {
        padding-right: 12px;
    }

    .right-header {
        animation: slideInRight 2s forwards;
    }

    .left-content h3 {
        font-size: 1.1rem;
    }

    /* Main Section End */

    /* About Me Section Styling Start */

    .about-bg {
        min-width: 350px;
    }

    .about-content {
        font-size: 1rem;
    }

    /* About Me Section Styling End  */

    /* Projects Section Styling Start  */

    .project {
        border-radius: 1rem;
        position: relative;
        flex-shrink: 0;
        width: 100%;
        height: 420px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0 4px 8px var(--shadow-color);
    }


    /* Projects Section Styling End  */

}


@media only screen and (max-width: 938px) {
    /* Header Start */

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .logo {
        font-size: 1.45em;
    }

    .checkbtn {
        display: block;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 57vh;
        background: linear-gradient(159.13deg, #575757 51.38%, var(--background-color) 125.8%);
        top: 75px;
        transform: translateY(-100%);
        text-align: center;
        transition: all 0s;
        opacity: 0;
        visibility: hidden;
        padding-top: 0px;
        z-index: 1000;
    }

    nav ul li {
        margin-top: 0px;
        display: block;
    }

    .navbar ul li a {
        padding-left: 0;
        font-size: 19px;
    }

    .navbar ul li a.active:hover {
        text-decoration: none;
        letter-spacing: 2px;
        transition: 0.5s;
    }

    input#check:checked~section#main.main {
        position: relative;
        z-index: -1;
    }

    input#check:checked~.navbar ul {
        transform: translateY(0);
        left: 0;
        width: 100%;
        background: linear-gradient(159.13deg, #575757 51.38%, var(--background-color) 125.8%);
        opacity: 1;
        visibility: visible;
    }

    /* Header End */

}

/* Media Query Styling End */